
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }

    th, td {
        padding: 5px;
        border-spacing: 5px;
      }

th, td {
    background-color: #96D4D4;
  }