body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: aqua;
    color: white;
  }

  #hobbies {
    background-color: aqua;
  }


  img {
    height: 10rem;
    border-radius: 50%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  div > ul {
    color: red;
  }

  .skills {
    background-color: aqua;
  }

  #me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30em;
  }


 .services {
  background-color: pink;
 }

 section {
  padding-top: 5em;
  padding-bottom: 5em;
 }

.head {
  text-align: center;
 }

 div > img {
  border-radius: 0%;
  width: 50px;
  height: auto;
 }



 * {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
  background-color: #333;
  color: white;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}